.main {
    background: #f0f2f5;
    padding: 3rem 0;
}

.btn-wrapper {
    height: 5rem;
    display: flex;
    justify-content: space-evenly
}

.btn {
    width: 40%;
}


/* #################################### Top Section  ############################ */
.navbar navbar-inverse {
    background: blueviolet;
}

#top {
    flex-wrap: nowrap;
    /* background: #009F6B; */
    background: #d64c7f 25%;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle;
}

.top-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.left {
    font-size: 1.5rem;
}

.top-nav ul li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    width: auto;
    text-align: center;
}

    .top-nav ul li a {
        padding: 0 1rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }

        .top-nav ul li a:hover {
            padding: 1rem;
            border-radius: 2rem;
            background: rgba(187, 187, 187, 0.514);
        }

    .top-nav ul li span {
        font-size: 1.5rem;
        color: #b4b4b4;
    }

/* ############################### Header  ############################# */

.header {
    background: linear-gradient(to right bottom,#d64c7f 25%,#ee4758 50%,#007FFF 25%);
    display: flex;
    flex-wrap: wrap;
}

.logo-img {
    margin: 0.5rem;
    height: 8rem;
    object-fit: cover;
}

.header-heading {
    font-family: 'Aclonica', sans-serif;
    word-spacing: 0.25rem;
    letter-spacing: 0.15rem;
    flex: 1;
    padding-top: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* ###################################### Nav Bar  ################################ */

.navbar {
    background-color: #7a0b68;
    padding: 0.5rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

    .nav-items a:hover {
        text-decoration: underline;
        /* background-image: linear-gradient(0.5deg, #007FFF 0%, #001510 40%, #007FFF 0%); */
        /* color: #222; */
        /* border: 2px solid #c4c4c4; */
        /* width: 100%; */
        /* padding: 0 1.5rem; */
        /* border-radius: 2rem; */
        /* background: #c4c4c4; */
    }

.nav-item {
    text-decoration: none;
}

/* ############# footer styling ################# */

.footer {
    /* background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%); */
    /* background: linear-gradient(to left top,#d64c7f 25%,#ee4758 50%,#007FFF 25%); */
    background: radial-gradient(circle,#d64c7f 25%,#ee4758 54%,#007FFF 95%);
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i {
    margin: 2rem;
}

/* ############# form styling ################# */
.form-wrapper {
    background: #fff;
    border-radius: 0.8rem;
}

.form {
    color: #555;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem;
}

    .form input, .form select {
        text-transform: uppercase;
        padding: 0.5rem;
        color: #252525;
        font-weight: 500;
        background: #f3f3f3;
        border: 1px solid #999;
        border-radius: 0.6rem;
        font-size: 1.3rem;
    }

    .form select {
        color: #555;
    }

        .form input:active, .form select:active {
            border: 4px solid rgb(21, 62, 153);
        }

/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: #c55a63 !important;
    text-transform: none;
    font-size: 1.3rem;
}

::-moz-placeholder {
    color: #c55a63 !important;
    text-transform: none;
    font-size: 1.3rem;
}

:-ms-input-placeholder {
    color: #c55a63 !important;
    text-transform: none;
    font-size: 1.3rem;
}

:-moz-placeholder {
    color: #c55a63 !important;
    text-transform: none;
    font-size: 1.3rem;
}

::-webkit-file-upload-button {
    color: #c55a63 !important;
    text-transform: none;
    font-size: 1.3rem;
}


.student-details {
    display: flex;
    margin-bottom: 2rem;
    /* border: 2px solid greenyellow; */
    /* flex-wrap: wrap; */
}

.student-details-left input {
    width: 100%;
}

.student-details-left {
    /* flex: 2.3; */
    /* border: 2px solid greenyellow; */
    flex-grow: 1;
}

.student-details-middle {
    /* flex: 2.3; */
    /* border: 2px solid green; */
    padding: 4rem 0 0 3rem;
    flex-grow: 1;
}

    .student-details-middle input {
        width: 100%;
    }

.student-details-right {
    padding: 1rem 2rem;
    /* flex: 1;     */
    /* border: 2px solid blueviolet; */
    flex-grow: 1;
}

    .student-details-right .student-image-holder {
        border: 1px solid #999;
        text-align: center;
        padding: 10% 0;
        height: 85%;
        width: 40%;
        border-radius: 0.8rem;
        margin: 0 auto 0.5rem auto;
    }
    /* .student-image-holder:hover{
    position: absolute;
    overflow-x: 200rem;
    border: 1px solid #999;
    height: 80%;
    width: 50%;
    border-radius: 0.8rem;
}
.hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
}
.student-image-holder-hover{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
} */
    .student-details-right .image {
        margin: 0 auto;
        display: block;
    }

.horizontal-line {
    width: 100%;
    margin: 2rem 0;
    border-bottom: 0.5px solid #444;
}

.contact-details {
    /* border: 2px solid rebeccapurple; */
    display: flex;
}

.contact-details-left, .other-details-left {
    flex: 1;
}

    .contact-details-left label, .other-details-right label {
        display: inline-block;
        margin-left: 5%;
    }

    .contact-details-left textarea, .other-details-right textarea {
        border-radius: 0.6rem;
        display: block;
        width: 90%;
        height: 70%;
        margin: 0 auto;
    }

.contact-details-right, .other-details-right {
    padding: 1rem 2rem;
    flex: 2.1;
}

.other-details {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    height: 21rem;
    /* flex-direction: row-reverse; */
}

.other-details-left {
    padding: 1rem 2rem;
}

/* ####################        View Data Page Styling      ####################### */

#student-details-view {
    display: flex;
    justify-content: space-between;
}



@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

/* ################## Utility Classes  #################### */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.small-heading {
    font-size: 1.6rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-grey {
    color: #555;
}

.text-black {
    color: #333;
}

.bg-dark {
    background-color: #263238;
}

.btn-primary {
    cursor: pointer;
    background-image: linear-gradient(to top, #00bf8f 0%, #001510 20%, #00bf8f 100%);
    color: #f4f4f4;
    font-size: 3rem;
    border-style: none;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 10px #00000057;
}

    .btn-primary:hover {
        background-image: linear-gradient(to top, #00bf8f 0%, #001510 80%, #00bf8f 100%);
    }

.btn-secondary {
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    box-shadow: 2.5px 2.5px 5px #00000057;
}

    .btn-secondary:hover {
        background-image: linear-gradient(to top, #e63946 0%, #0015103f 10%, #e63946 100%);
    }

/* ================================= */
/*   Media Queries                     */
/* Điều chỉnh layout với media queries */
@media (max-width: 768px) {
    .student-details, .contact-details, .other-details {
        flex-direction: column;
        align-items: center;
    }

        .student-details > div, .contact-details > div, .other-details > div {
            width: 100%;
        }
}

/* Sử dụng flexbox cho các row */
.student-details, .contact-details, .other-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main {
    min-height: 20vh; /* Điều chỉnh theo nhu cầu */
}

.footer {
    position: relative;
    margin-top: 20px; /* Điều chỉnh khoảng cách giữa nội dung và footer */
}
.hienthi {
    color: #2b15de;
    font-style: inherit;
    font-family: inherit;
}

.picture {
    padding-left: 70px;
    padding-top: 10px;
}