@page
@model ChatGPTCaller.Pages.AdminModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT-DSA</title>
    <link rel="stylesheet" href="./css/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/Admin.css">
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./Home">CHAT-DSA</a>
                </div>
                <div class="navbar-header admin" id="admin">
                    <a class="navbar-brand" href="./Admin">Administrator</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="./Home">Home</a></li>
                    <li><a href="./Content">Content</a></li>
                    <li><a href="./Assistant">Assistant</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span id="usernameSpan"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./Student_infor" onclick="getSinhVien()">Information</a></li>
                            <li><a href="./Student_Update_Data">Updating</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </li>
                    <li onclick="logout()"><a href=""><span class="glyphicon glyphicon-log-out" id="logoutButton" onclick="logout()"></span>Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Main-->
    <main>
        <div class="trangchu">
            <div class="card mt-1">
                <div class="card-body">
                    <h1>TRANG QUẢN LÝ THÔNG TIN</h1>
                    <h4 style="color:red">Các nội dung sau bảo mật nghiêm cấm các hành vi copy hay chỉnh sửa khi không được phép!</h4>
                    <button class="btn btn-primary" onclick="fetchUsers()">Fetch Users Data</button>
                    <button class="btn btn-secondary" onclick="AddUser()">Add Users Data</button>
                    <button class="btn btn-primary" onclick="fetchmonhoc() ">Fetch Books Data</button>
                    <button class="btn btn-secondary" onclick="AddBook()">Add Book Data</button>
                    <button class="btn btn-primary" onclick="fetchchapters()">Fetch Chapters Data</button>
                    <button class="btn btn-secondary" onclick="AddChapter()">Add Chapter Data</button>
                </div>
                <div class="row">
                    <div id="alert-success" class="alert alert-success d-none" role="alert">
                        God Bless You All Time!
                    </div>
                    <div id="loading" class="d-flex justify-content-center">
                        <div id="spinner" class="spinner-border d-none" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--where to add more tablerow-->
            <table id="userTable" class="table table-striped table-hover"></table>
            <!--popup to be shown-->
            <!-- Detail User Placeholder -->
            <div id="detailModal" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close-button" id="close-button">&times;</span>
                    </div>
                    <h2>User Detail</h2>
                    <!-- Product details will be injected here -->
                    <div id="userDetail"></div>
                </div>
            </div>

            <!-- Detail MONHOC Placeholder -->
            <div id="detailMonhoc" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close-button" id="close-button">&times;</span>
                    </div>
                    <h2>Book Detail</h2>
                    <!-- Product details will be injected here -->
                    <div class="MONHOCDetail" id="MONHOCDetail"></div>
                </div>
            </div>


            <!-- Detail Chuong Placeholder -->
            <div id="detailChuong" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close-button" id="close-button">&times;</span>
                    </div>
                    <h2>Book Detail</h2>
                    <!-- Product details will be injected here -->
                    <div class="ChuongDetail" id="ChuongDetail"></div>
                </div>
            </div>

             <!-- Add User Modal -->
            <div id="addUser" class="editProduct">
                <div class="item-content">
                    <div>
                        <span class="edit-botton" id="closeadd">&times;</span>
                    </div>
                    <h2>Add User Information</h2>
                    <form id="adduserForm">
                        <div class="input-group">
                            <label for="editfull_name">Full Name:</label>
                            <input type="text" id="fullname">
                        </div>
                        <div class="input-group">
                            <label for="editemail">Email:</label>
                            <input type="email" id="email" >
                        </div>
                        <div class="input-group">
                            <label for="editmssv">Password:</label>
                            <input type="password" id="password">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">Confirm Password:</label>
                            <input type="password" id="confirm_password">
                        </div>
                        <button class="addUser btn btn-primary" type="button" id="addUser">Add User</button>
                    </form>
                </div>
            </div>

            <!-- Add MonHoc Modal -->
            <div id="addBook" class="editMonhoc">
                <div class="item-content2">
                    <div>
                        <span class="edit-botton" id="closeBook">&times;</span>
                    </div>
                    <h2>Add Mon Hoc Information</h2>
                    <form id="addBookForm">
                        <div class="input-group">
                            <label for="editfull_name">IdMonhoc:</label>
                            <input type="text" id="IdMonhoc">
                        </div>
                        <div class="input-group">
                            <label for="editemail">TitleMonHoc:</label>
                            <input type="text" id="TitleMonhoc">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">ContentMonHoc:</label>
                            <textarea id="ContentMonhoc"></textarea>
                        </div>
                        <button class="addBook btn btn-primary" type="button" id="addBook">Add Mon Hoc</button>
                    </form>
                </div>
            </div>

            <!-- Add Chuong Modal -->
            <div id="addChapter" class="editMonhoc">
                <div class="item-content">
                    <div>
                        <span class="edit-botton" id="closeChapter">&times;</span>
                    </div>
                    <h2>Add Mon Hoc Information</h2>
                    <form id="addChapterForm">
                        <div class="input-group">
                            <label for="editfull_name">Id:</label>
                            <input type="text" id="Id">
                        </div>
                        <div class="input-group">
                            <label for="editemail">Title:</label>
                            <input type="text" id="Title">
                        </div>
                        <div class="input-group">
                            <label for="editfull_name">IdMonhoc:</label>
                            <input type="text" id="IdMonhoc1">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">ParentId:</label>
                            <input type="text" id="ParentId">
                        </div>
                        <button class="addChapter btn btn-primary" type="button" id="addChapter">Add Mon Hoc</button>
                    </form>
                </div>
            </div>
            <!-- Edit User Modal -->
            <div id="editUser" class="editProduct">
                <div class="item-content">
                    <div>
                        <span class="edit-botton" id="closeEdit">&times;</span>
                    </div>
                    <h2>Edit User Information</h2>
                    <form id="edituserForm">
                        <div class="input-group">
                            <label for="editfull_name">Full Name:</label>
                            <input type="text" id="editfull_name">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">Mssv:</label>
                            <input type="text" id="editmssv" >
                        </div>
                        <div class="input-group">
                            <label for="editgender">Gender:</label>
                            <input type="text" id="editgender" >
                        </div>
                        <div class="input-group">
                            <label for="editbirthday">Birthday:</label>
                            <input type="datetime" id="editbirthday" >
                        </div>
                        <div class="input-group">
                            <label for="editemail">Email:</label>
                            <input type="email" id="editemail" >
                        </div>
                        <div class="input-group">
                            <label for="editmyphone">Phone:</label>
                            <input type="tel" id="editmyphone" >
                        </div>
                        <div class="input-group">
                            <label for="editaddress">Address:</label>
                            <input type="text" id="editaddress" >
                        </div>
                        <div class="input-group">
                            <label for="editrole">Role:</label>
                            <input type="text" id="editrole" >
                        </div>
                        <div class="input-group">
                            <label for="editisdeleted">Is Deleted:</label>
                            <input type="text" id="editisdeleted" >
                        </div>
                        <div class="input-group">
                            <label for="editidcard">Id Card:</label>
                            <input type="text" id="editidcard" >
                        </div>
                        <div class="input-group">
                            <label for="editdateofissue">Data Of Issue:</label>
                            <input type="datetime" id="editdateofissue">
                        </div>
                        <div class="input-group">
                            <label for="editfaculty">Faculty:</label>
                            <input type="text" id="editfaculty" >
                        </div>
                        <div class="input-group">
                            <label for="editmajor">Major:</label>
                            <input type="text" id="editmajor" >
                        </div>
                        <div class="input-group">
                            <label for="editpicture">Picture:</label>
                            <input type="text" id="editpicture">
                        </div>
                    </form>
                </div>
            </div>

            <!-- Edit MonHoc Modal -->
            <div id="editMonhoc" class="editMonhoc">
                <div class="item-content2">
                    <div>
                        <span class="edit-botton" id="closeEdit">&times;</span>
                    </div>
                    <h2>Edit Subject Information</h2>
                    <form id="editMonhocForm">
                        <div class="input-group">
                            <label for="editfull_name">IdMonhoc:</label>
                            <input type="text" id="editIdMonhoc">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">Title:</label>
                            <input type="text" id="editTitleMonhoc">
                        </div>
                        <div class="input-group">
                            <label for="editgender">Content:</label>
                            <textarea id="editContentMonhoc"></textarea>
                        </div>
                        
                    </form>
                </div>
            </div>


            <!-- Edit Chuong Modal -->
            <div id="editChuong" class="editChuong">
                <div class="item-content2">
                    <div>
                        <span class="edit-botton" id="closeEdit">&times;</span>
                    </div>
                    <h2>Edit Chapter Information</h2>
                    <form id="editChuongForm">
                        <div class="input-group">
                            <label for="editfull_name">Id:</label>
                            <input type="text" id="editId">
                        </div>
                        <div class="input-group">
                            <label for="editmssv">Title:</label>
                            <input type="text" id="editTitle">
                        </div>
                        <div class="input-group">
                            <label for="editfull_name">IdMonhoc:</label>
                            <input type="text" id="editIdMonhoc1">
                        </div>
                        <div class="input-group">
                            <label for="editgender">ParentId:</label>
                            <input type="text" id="editParentId">
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="copyright text-center">
            Copyright &copy; 2024 <span>Hiu-It Chat-DSA</span>
        </div>
    </footer>
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/57ae888bd4.js" crossorigin="anonymous"></script>
    <script src="./js/Admin.js"></script>
    <script src="./js/monhoc.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
