@page
@model ChatGPTCaller.Pages.IndexModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-like Page</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/index.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat">
            <div class="messages" id="messages">
                <div class="message received">
                    <p>Hello! I'm Le Thuong. How can I help you?</p>
                </div>
            </div>
            <input type="text" id="userInput" placeholder="Type a message...">
            <button onclick="sendMessage(event)">Tìm Kiếm</button>
        </div>
    </div>
    <img src="images/nhap_mon_5.png" alt="Background Image" class="background-image">
</body>
</html>