@page
@model ChatGPTCaller.Pages.Student_InforModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="./css/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/student_update_data.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57ae888bd4.js" crossorigin="anonymous"></script>
    <title>Student_infor</title>
</head>
<body>
    <section class="top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">CHAT-DSA</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="./Home">Home</a></li>
                    <li><a href="./Content">Content</a></li>
                    <li><a href="./Assistant">Assistant</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <header class="header">
        <div class="logo"><img class="logo-img" src="./img/hongbang.png" alt="SIS Logo"></div>
        <h2 class="header-heading lg-heading text-light">Student Information</h2>
    </header>

    <section class="main">
        <div class="container-fluid">
            <div class="form-wrapper">
                <form class="form">
                    <div class="row student-details">
                        <div class="col-sm-3 student-details-left">
                            <div class="picture">
                                <img id="student-image" class="img-thumbnail" alt="Student Image" width="180" height="100">
                            </div>
                        </div>

                        <div class="col-sm-4 student-details-middle">
                            <label class="fname-label" for="fname">Full Name: </label>
                            <label class="hienthi" id="name"></label><br>
                            <label class="Student-Number-label" for="student-number">Student Number: </label>
                            <label class="hienthi" id="mssv"></label><br>
                            <label class="gender-label" for="gender">Gender: </label>
                            <label class="hienthi" id="gender"></label><br>
                            <label class="dob-label" for="dob">Date of birth: </label>
                            <label class="hienthi" id="dob"></label><br>
                        </div>

                        <div class="col-sm-5 student-details-middle">
                            <label class="Khoa_label" for="class">Faculty: </label>
                            <label class="hienthi" id="khoa"></label><br>
                            <label class="major-label" for="major">Major: </label>
                            <label class="hienthi" id="major"></label><br>
                            <label class="class-label" for="class">Nationnality: </label>
                            <label class="hienthi" id="nationality"></label><br>
                            <label class="religion" for="religion">Religion: </label>
                            <label class="hienthi" id="religion"></label><br>
                        </div>
                    </div>

                    <div class="horizontal-line"></div>

                    <div class="row contact-details">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-3 other-details-right">
                            <label class="id-card-number-label" for="id-card-number">ID card number: </label>
                            <label class="hienthi" id="id-card-number"></label><br>

                            <label class="dou-label" for="dou">Date of issue: </label>
                            <label class="hienthi" id="dou"></label><br>

                            <label class="Place-label" for="Place">Place of issue: </label>
                            <label class="hienthi" id="Place"></label><br>
                        </div>
                        <div class="col-sm-8  other-details-right">
                            <label class="mobNo-label" for="mobNo">Mobile No: </label>
                            <label class="hienthi" id="mobNo"></label><br>

                            <label class="mobNo-label" for="parentMobNo">Parent Mobile No: </label>
                            <label class="hienthi" id="parentMobNo"></label><br>

                            <label class="email-label" for="email">Email: </label>
                            <label class="hienthi" id="email"></label><br>

                            <label class="address-label" for="address">Address: </label>
                            <label class="hienthi" id="address"></label><br>

                        </div>
                    </div>

                    <div class="horizontal-line"></div>

                    <div class="row other-details">
                        <div class="col-sm-12 other-details-right">
                            <label for="note">About Student : </label><br>
                            <label class="hienthi" id="thongtin">
                            </label>
                        </div>
                    </div>
                </form>
                <div class="btn-group">
                    <button class="btn-primary btn-lg" onclick="viewStudentDetails()" type="button">View Details</button>
                    <button class="btn-primary btn-lg" onclick="addStudentDetails()" type="submit">Edit Details</button>
                </div>
            </div>
        </div>
    </section>
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="./js/SinhVienInfor.js"></script>
</body>
</html>
