@page
@model ChatGPTCaller.Pages.Student_Update_DataModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="./css/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/student_update_data.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57ae888bd4.js" crossorigin="anonymous"></script>
    <title>Student_Data</title>
</head>
<body>
    <section class="top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">CHAT_GPT_API</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="">Home</a></li>
                    <li><a href="/Content.html">Content</a></li>
                    <li><a href="">Assistant</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <header class="header">
        <div class="logo"><img class="logo-img" src="./img/hongbang.png" alt="SIS Logo"></div>
        <h2 class="header-heading lg-heading text-light">Student Information</h2>
    </header>

    <section class="main">
        <div class="container">
            <div class="form-wrapper">
                <form class="form">
                    <div class="row student-details">
                        <div class="col-sm-4 student-details-left">
                            <label class="fname-label" for="fname">Full Name: </label>
                            <input class="fname" type="text" name="firstName" id="fname" placeholder="Full Name">
                            <label class="Student-Number-label" for="student-number">Student Number </label>
                            <input class="student-number" class="student-number" type="number" name="student-number" id="student-number" placeholder="Student Number" min="1" max="9999999999"><br>
                            <label class="gender-label" for="gender">Gender: </label>
                            <select class="gender" name="gender" id="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select><br>
                            <label class="dob-label" for="dob">Date of birth: </label>
                            <input class="dob" type="date" name="dob" id="dob">

                        </div>

                        <div class="col-sm-4 student-details-middle">

                            <label class="Khoa_label" for="class">Faculty: </label>
                            <select class="khoa" name="khoa" id="khoa">
                                <option value="1">Khoa Công Nghệ - Kỹ Thuật</option>
                                <option value="2">Khoa Kinh tế - Quản trị</option>
                                <option value="3">Khoa Ngôn ngữ và văn hóa quốc tế</option>
                                <option value="4">Khoa Y</option>
                                <option value="5">Khoa Dược</option>
                                <option value="6">Khoa Răng Hàm Mặt</option>
                                <option value="7">Khoa Điều Dưỡng – Hộ Sinh</option>
                                <option value="8">Khoa Xét Nghiệm Y Học</option>
                                <option value="9">Khoa Kỹ thuật Phục hồi chức năng</option>
                                <option value="10">Khoa Khoa học Xã hội</option>
                                <option value="11">Bộ môn Giáo dục thể chất</option>
                                <option value="Msc">Msc</option>
                                <option value="Phd">Phd</option>
                            </select><br>
                            <label class="major-label" for="major">Major: </label>
                            <input class="major" type="text" name="major" id="major" placeholder="major">
                            <label class="class-label" for="class">Nationnality: </label>
                            <input class="nationnality" type="text" name="nationnality" id="nationnality" placeholder="nationnality">

                            <label class="religion" for="religion">Religion: </label>
                            <select class="religion" name="religion" id="religion">
                                <option value="Buddhism">Buddhism</option>
                                <option value="Christianity">Christianity</option>
                                <option value="Hinduism">Hinduism</option>
                                <option value="Islam">Islam</option>
                                <option value="Judaism">Judaism</option>
                                <option value="Sikhism">Sikhism</option>
                                <option value="Atheism">Atheism</option>
                                <option value="Other">Other</option>
                            </select><br>
                        </div>

                        <div class="col-sm-4 student-details-right">
                            <div class="student-image-holder"><p class="text-grey md-heading">Upload Image</p></div>
                            <div class="student-image-holder-hover"></div>
                            <!-- <label class="image-label" for="avatar">Image : </label> -->
                            <input class="image" type="file" name="avatar" id="avatar" accept="image/jpg, image/jpeg, image/png">
                        </div>
                    </div>

                    <div class="horizontal-line"></div>

                    <div class="row contact-details">
                        <div class="col-sm-4 contact-details-left">
                            <label class="address-label" for="address">Address: </label><br>
                            <textarea class="address" name="address" id="address" placeholder=" Start writing here..."></textarea>
                        </div>

                        <div class="col-sm-4 contact-details-middle">
                            <label class="country-label" for="country">Country: </label>
                            <input class="country" type="text" name="country" id="country" placeholder="Country"><br>

                            <label class="city-label" for="city">City: </label>
                            <input class="city" type="text" name="city" id="city" placeholder="City"><br>


                            <label class="District-label" for="District">District: </label>
                            <input class="District" type="text" name="District" id="District" placeholder="District"><br>

                            <label class="pincode-label" for="pincode">Pin Code: </label>
                            <input class="pincode" type="number" name="pincode" id="pincode" placeholder="Pin Code" min="000000" max="999999"><br>
                        </div>
                        <div class="col-sm-4 contact-details-right">
                            <label class="mobNo-label" for="mobNo">Mobile No: </label>
                            <input class="mobNo" type="number" name="mobNo" id="mobNo" placeholder="Mobile Number" minlength="10" maxlength="10"><br>

                            <label class="mobNo-label" for="parentMobNo">Parent Mobile No: </label>
                            <input class="mobNo" type="number" name="parentMobNo" id="parentMobNo" placeholder="Parent Mobile Number"><br>

                            <label class="email-label" for="email">Email: </label>
                            <input class="email" type="email" name="email" id="email" placeholder="Email"><br>

                        </div>
                    </div>

                    <div class="horizontal-line"></div>

                    <div class="row other-details">
                        <div class="col-sm-4 other-details-left">
                            <label class="id-card-number-label" for="id-card-number">ID card number: </label>
                            <input class="id-card-number" type="number" name="id-card-number" id="id-card-number" placeholder="id-card-number"><br>

                            <label class="dou-label" for="dou">Date of issue: </label>
                            <input class="dou" type="date" name="dou" id="dou"><br>

                            <label class="Place-label" for="Place">Place of issue: </label>
                            <input class="Place" type="text" name="Place" id="Place" placeholder="Place of issue">
                        </div>

                        <div class="col-sm-8 other-details-right">
                            <label for="note">About Student : </label><br>
                            <textarea name="note" id="note" placeholder=" Start writing here..."></textarea>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-primary" onclick="viewStudentDetails()" type="button">View Details</button>
                        <button class="btn btn-primary" type="submit">Save Details</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="social-media-links">
            <i class="fa-brands fa-facebook text-light fa-4x"></i>
            <i class="fa-brands fa-twitter text-light fa-4x"></i>
            <i class="fa-brands fa-instagram text-light fa-4x"></i>
        </div>
        <p class="text-light small-heading">Student Information &copy; 2024, All Rights Reserved</p>
    </footer
</body>
 <script>
    function viewStudentDetails() {
    // Navigate to the student details page
    window.location.href = './Student_Infor'; // Change this URL to the correct page for your application
    }
    </script>
</html>